@media only screen and (min-width: 1025px) { /* PC */

.Checkbox  {
    display: none !important;
}

.Hamburger-Line {
    display: none !important;
}

.Person_Phone{
    display: none !important;
}

/* ヘッダーs */

header{
    position: fixed; /*スクロールを固定*/
    background-color:white;
    height: 7.5vh;
    width: 100%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1) ;
}

.Potepan{ 
    height: 20px;
    padding-top: 2.7vh;
    padding-left: 2vw;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
}

.List{ /* ul */
    display: flex; /* 子要素を横一列に */
    list-style: none; /* リストの点を削除 */      
    justify-content: space-between; /* 子要素を均等に横配置する設定 */
    gap: 0.6vw; /* 子要素間の余白を設定 */
    float: right; /* タイトルの横に並べる */
    margin-top: 1.8vh;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    text-align: center; /* テキストを真ん中に揃える */
}

.List_Title{ /* li span */
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    color: #333; /* リンク選択後色が変わらないように */
    position: relative;
}

.List_Text{ /* li span*/
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap; /*改行を防ぐ */
    color: #333; /* リンク選択後色が変わらないように */
    position: relative;
    top: -0.4vh; /* 縦方向に少し上へ */
}

.List_Counseling{
    display: flex;/* centerにずらせるように */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F79214;
    border: none;
    border-radius: 10vw;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    width: 22%;
    font-size: 12px;
    height: 4.3vh;
    margin-top: -0.2vh;
    margin-left: 1vw;
    margin-right: 2.7vw;
}

.Counseling_Link{
    text-decoration:none;
    color: #fff; /* リンク選択後色が変わらないように */
}

/* ヘッダーe */



/* 背景s */

.Background{
    position: relative; /*親要素固定*/
    z-index: -1;/*背景用*/
}
.Person{
    position: absolute; /*Backgroundの子要素固定 */
    right: 0; /*右寄せ*/
    width: 775px;
}

.Triangle{ /* 親要素 */
    position: relative;
    z-index: -2;/*背景用*/
}

.Triangle_Left{
    position: relative;
}

.Triangle_Right{
    position: absolute; /*Triangleの子要素 */
    right: 0; /*右寄せ*/
    margin-top: 42vh;
}

.Rubber_Band{
    position: absolute;
    top: 16.5vh;
    left: -4vw;
}

/* 背景e */

/* ボディs */
body{
    margin: 0; /*画面端の余白を削除 */
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.Circle{
    position: absolute;
    top: 19.5vh;
    left: 45vw;
}

.Container{
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 219px;
    margin-top: -36.5vh;
}

h1{
    font-family: "Lato", sans-serif;
    font-size: 42px;
    font-weight: 600;
    opacity: 0.8;
    margin-top: 6vh;
    margin-bottom: 1vh;
}

.Counseling{
    display: flex;/* centerにずらせるように */
    align-items: center;
    justify-content: center; /* 文字を真ん中に */
    background-color: #F79214;
    border: none; /* 円の線を消す */
    text-decoration: none;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    border-radius: 5vw; /* 角を丸く */
    font-size: 16px;
    font-weight: 600; /* 文字の太さ */
    height: 65px;
    width: 47%;
}

.Annotation{
    font-size: 12px;
    margin-top: 1.9vh;
    opacity: 0.7; /*透明度 */
}

/* ボディe */

} /*PC */



/* ------------------------------------------------------------------------- */

/* タブレット 高さ800以上 */
@media only screen and (min-width: 601px) and (max-width: 1024px) and (min-height: 800px){ 

.Person_Phone{
    display: none !important;
}

/* ヘッダーs */
header{
    position: fixed; /*スクロールを固定*/
    background-color:white;
    width: 100%;
    height: 6vh;
    z-index: 100;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1) ;
}

.Potepan{ 
    width: 22%;
    padding-top: 2.2vh;
    padding-left: 4vw;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
}

/* チェックボックス確認削除 */
.Checkbox {
    display: none;
}
/* ハンバーガーアイコンの設置スペース */
.Hamburger-Line {
    display: flex;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    right: 0;
    margin-top: -0.2vh;
    margin-right: 8vw;
}

/* ハンバーガーメニューのアイコン */
.Hamburger-Line  span,
.Hamburger-Line  span:before,
.Hamburger-Line  span:after {
    content: '';
    display: block;
    height: 0.15vh; /* 線の濃さ */
    width: 2.7vw;
    bottom: 0.7vh;
    background: #333; /* 三本線の色 */
    transition: 0.5s;
    position: absolute;
    opacity: 0.7;
}

/* 三本線の一番上の棒の位置調整 */
.Hamburger-Line  span:before {
    bottom: 0.7vh;
}

/* 三本線の一番下の棒の位置調整 */
.Hamburger-Line  span:after {
    top: 0.7vh;
}

/* id クリック */
/* アイコンがクリックされたら真ん中の線を透明にする */
#menu-btn-check:checked ~ .Hamburger-Line  span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#menu-btn-check:checked ~ .Hamburger-Line  span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .Hamburger-Line  span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* アイコンがクリックされたらメニューを表示 */
#menu-btn-check:checked ~ .List {
    left: 0;/* メニューを画面に入れる */
}

/* メニューのデザイン*/
.List {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99; /* ボタンよりも下に */
    top: 5vh;
    left: 100%; /* メニューを画面の外に飛ばす */
    background: rgba(0, 0, 0, 0.8);;
    transition: .5s;
    list-style: none;  /* メニュー黒ポチを消す */
    text-align: center;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    padding: 0;
    letter-spacing: 5px; /* 文字の間に隙間を入れる */
}

.List_Title{ /* li span */
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 1.8vw;
    font-weight: 500; /* 文字の太さ */
    color: white; /* リンク選択後色が変わらないように */
    padding-top: 3vh;
    width: 60%; /* 改行のため */
}

.List_Text{ /* li span*/
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 1.3vw;
    color: #F79214; /* リンク選択後色が変わらないように */
    width: 50%;/* 改行のため */
}

.List_Counseling{
    display: flex;/* centerにずらせるように */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F79214;
    border: none;
    border-radius: 10vw;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    width: 28%;
    font-size: 1.7vw;
    height: 5%;
    margin: auto;
    margin-top: 5vh;
}

.Counseling_Link{
    text-decoration:none;
    color: #fff; /* リンク選択後色が変わらないように */
}

/* ヘッダーe */

/* 背景s */

.Background{
    position: relative; /*親要素固定*/
    z-index: -1;/*背景用*/
}
.Person{
    position: absolute; /*Backgroundの子要素固定 */
    right: 0; /*右寄せ*/
    width: 775px;
}

.Triangle{
    position: relative; /*親要素固定*/
    z-index: -2;/*背景用*/
}
.Triangle_Left{
    left: 0;
}

.Triangle_Right{
    position: absolute; /*Triangleの子要素 */
    right: 0; /*右寄せ*/
    margin-top: 35vh;
}

.Rubber_Band{
    position: absolute; /*Triangleの子要素 */
    margin-top: 11vh;
    margin-left: -45vw;
}

/* 背景e */


/* ボディs */

body{ 
    margin: auto; /*周りの隙間をなくす*/

}

.Circle{
    position: absolute; /*bodyの子要素*/
    left: 55vw;
    bottom: 67vh;
}

h1{
    font-size: 5vw;
    margin-top: -5vh;
    margin-left: 4vw;
    bottom: 5vh;
    color: #333;
    font-family: "Lato", sans-serif;
}

.Counseling{
    display: flex;/* centerにずらせるように */
    align-items: center;
    justify-content: center; /* 文字を真ん中に */
    background-color: #F79214;
    border: none; /* 円の線を消す */
    text-decoration: none;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    border-radius: 5vw; /* 角を丸く */
    font-size: 1.8vw;
    font-weight: 700; /* 文字の太さ */
    height: 6vh;
    width: 60%;
    margin-top: 1vh;
    margin-left: 3vw;
    letter-spacing: 2px; /* 文字の間に隙間を入れる */
}

.Annotation{
    margin-top: 1.4vh;
    margin-left: 4vw;
    opacity: 0.6; /*透明度 */
}

/* ボディe */

/* タブレット 800以上 */

}


/* ----------------------------------------------------------------------------------------------------------------------------------*/

/* タブレット 800以下 */

/* タブレット 高さ800以下 */
@media only screen and (min-width: 601px) and (max-width: 1024px) and (max-height: 800px){ 

.Person_Phone{
    display: none !important;
}

/* ヘッダーs */
header{
    position: fixed; /*スクロールを固定*/
    background-color:white;
    width: 100%;
    height: 70px;
    z-index: 100;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1) ;
}

.Potepan{ 
    width: 18%;
    padding-top: 25px;
    padding-left: 35px;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
}

/* チェックボックス確認削除 */
.Checkbox {
    display: none;
}
/* ハンバーガーアイコンの設置スペース */
.Hamburger-Line {
    display: flex;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    right: 0;
    margin-top: -13px;
    margin-right: 60px;
}

/* ハンバーガーメニューのアイコン */
.Hamburger-Line  span,
.Hamburger-Line  span:before,
.Hamburger-Line  span:after {
    content: '';
    display: block;
    height: 1px;
    width: 23px;
    background: black; /* 三本線の色 */
    transition: 0.5s;
    position: absolute;
    opacity: 0.8;
}

/* 三本線の一番上の棒の位置調整 */
.Hamburger-Line  span:before {
    bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.Hamburger-Line  span:after {
    top: 8px;
}

/* id クリック */
/* アイコンがクリックされたら真ん中の線を透明にする */
#menu-btn-check:checked ~ .Hamburger-Line  span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#menu-btn-check:checked ~ .Hamburger-Line  span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .Hamburger-Line  span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* アイコンがクリックされたらメニューを表示 */
#menu-btn-check:checked ~ .List {
    left: 0;/* メニューを画面に入れる */
}

/* メニューのデザイン*/
.List {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99; /* ボタンよりも下に */
    top: 55px;
    left: 100%; /* メニューを画面の外に飛ばす */
    background: rgba(0, 0, 0, 0.8);;
    transition: .5s;
    list-style: none;  /* メニュー黒ポチを消す */
    text-align: center;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    padding: 0;
    letter-spacing: 5px; /* 文字の間に隙間を入れる */
}

.List_Title{ /* li span */
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 16px;
    font-weight: 500; /* 文字の太さ */
    color: white; /* リンク選択後色が変わらないように */
    padding-top: 50px;
    width: 60%; /* 改行のため */
}

.List_Text{ /* li span*/
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 12px;
    color: #F79214; /* リンク選択後色が変わらないように */
    width: 50%;/* 改行のため */
}

.List_Counseling{
    display: flex;/* centerにずらせるように */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F79214;
    border: none;
    border-radius: 50px;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    width: 25%;
    font-size: 16px;
    height: 60px;
    margin: auto; /* 中央に合わせる */
    margin-top: 40px;
}

.Counseling_Link{
    text-decoration:none;
    color: #fff; /* リンク選択後色が変わらないように */
}

/* ヘッダーe */

/* 背景s */

.Background{
    position: relative; /*親要素固定*/
    z-index: -1;/*背景用*/
}
.Person{
    position: absolute; /*Backgroundの子要素固定 */
    right: 0; /*右寄せ*/
    width: 775px;
}

.Triangle{
    position: relative; /*親要素固定*/
    z-index: -2;/*背景用*/
}
.Triangle_Left{
    left: 0;
}
.Triangle_Right{
    position: absolute; /*Triangleの子要素 */
    right: 0; /*右寄せ*/
    margin-top: 500px;
}

.Rubber_Band{
    position: absolute; /*Triangleの子要素 */
    margin-top: 150px;
    margin-left: -400px;
}

/* 背景e */


/* ボディs */

body{ 
    margin: auto; /*周りの隙間をなくす*/
}

.Circle{
    position: absolute; /*bodyの子要素*/
    top: 200px;
    left: 470px;
    bottom: 220px;
}

h1{
    position: absolute; /*bodyの子要素*/
    font-size: 42px;
    top: 250px;
    left: 50px;
    color: #333;
    font-family: "Lato", sans-serif;
}

.Counseling{
    align-items: center;
    justify-content: center; /* 文字を真ん中に */
    background-color: #F79214;
    border: none; /* 円の線を消す */
    text-decoration: none;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    border-radius: 38px; /* 角を丸く */
    font-size: 16px;
    font-weight: 700; /* 文字の太さ */
    height: 64px;
    width: 47%;
    margin-top: 140px;
    margin-left: 45px;
}

.Annotation{
    margin-top: 15px;
    margin-left: 45px;
    opacity: 0.6; /*透明度 */
}

/* ボディe */


} /* タブレット 800以下*/

/* ---------------------------------------------------------------------*/

@media only screen and (max-width: 600px) and (min-height: 800px){ /* スマホ 800以上 */

.Person{
    display: none !important;
}


.Triangle{
    display: none !important;
}

/* ヘッダーs */
header{
    position: fixed; /*スクロールを固定*/
    background-color:white;
    width: 100%;
    height: 5.5vh;
    top: 0;
    left: 0;
    z-index: 100;
}

.Potepan{ 
    width: 35%;
    padding-top: 2vh;
    padding-left: 4vw;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
}

/* チェックボックス確認削除 */
.Checkbox {
    display: none;
}
/* ハンバーガーアイコンの設置スペース */
.Hamburger-Line {
    display: flex;
    align-items: center;
    z-index: 100;/* バツボタン選択のため、重なり順を一番上にする */
    cursor: pointer;
    position: fixed; /* 右端に固定 */
    right: 0;
    margin-top: -1.3vh;
    margin-right: 8vw;
}

/* ハンバーガーメニューのアイコン */
.Hamburger-Line  span,
.Hamburger-Line  span:before,
.Hamburger-Line  span:after {
    content: '';
    display: block;
    height: 0.1vh;
    width: 4vw;
    background: #333;
    transition: 0.5s;
    position: absolute;
    opacity: 0.7; /*透明度 */
}

/* 三本線の一番上の棒の位置調整 */
.Hamburger-Line  span:before {
    bottom: 0.7vh;
}

/* 三本線の一番下の棒の位置調整 */
.Hamburger-Line  span:after {
    top: 0.8vh;
}

/* id クリック */
/* アイコンがクリックされたら真ん中の線を透明にする */
#menu-btn-check:checked ~ .Hamburger-Line  span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#menu-btn-check:checked ~ .Hamburger-Line  span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .Hamburger-Line  span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* アイコンがクリックされたらメニューを表示 */
#menu-btn-check:checked ~ .List {
    left: 0;/* メニューを画面に入れる */
}

/* メニューのデザイン*/
.List {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99; /* ボタンよりも下に */
    top: 5vh;
    left: 100%; /* メニューを画面の外に飛ばす */
    background: rgba(0, 0, 0, 0.8);;
    transition: .5s;
    list-style: none;  /* メニュー黒ポチを消す */
    text-align: center;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    margin-top: 0.5vh;
    padding: 0;
    letter-spacing: 5px; /* 文字の間に隙間を入れる */
}

.List_Title{ /* li span */
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 3vw;
    font-weight: 600; /* 文字の太さ */
    color: white; /* リンク選択後色が変わらないように */
    padding-top: 5vh;
    width: 60% /* 改行のため */
}

.List_Text{ /* li span*/
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 2vw;
    color: #F79214; /* リンク選択後色が変わらないように */
    width: 50%;/* 改行のため */
}

.List_Counseling{
    display: flex;/* centerにずらせるように */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F79214;
    border: none;
    border-radius: 10vw;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    width: 50%;
    font-size: 3vw;
    height: 6%;
    margin: auto;
    margin-top: 5vh;
}

.Counseling_Link{
    text-decoration:none;
    color: #fff; /* リンク選択後色が変わらないように */
}

/* ヘッダーe */

/* 背景s */

.Background{
    position: relative; /*親要素固定*/
    z-index: -1;/*背景用*/
}

.Person_Phone{
    position: absolute; /*Backgroundの子要素固定 */
    width: 100%;
    margin-top: 5.2vh;
    z-index: -1;/*背景用*/
}

.Triangle{
    position: relative; /*親要素固定*/
    z-index: -2;/*背景用*/
}

.Triangle_Right{
    display: none;
}

.Rubber_Band{
    position: absolute; /*Triangleの子要素 */
    height: 25vh;
    margin-top: 6.3vh;
    margin-left: -45vw;
}

/* 背景e */


/* ボディs */

body{ 
    margin: auto; /*周りの隙間をなくす*/
}

.Circle{
    position: absolute; /*bodyの子要素*/
    width: 25%;
    left: 60vw;
    bottom: 56vh;
}

h1{
    position: absolute; /*bodyの子要素 */
    font-size: 5vw;
    margin-top: 35vh;
    margin-left: 4vw;
    color: #333;
    font-family: "Lato", sans-serif;
    line-height: 3.8vh; /* 行間 */
    letter-spacing: 1.5px; /* 文字の間に隙間を入れる */
}

.Counseling{
    position: absolute; /*bodyの子要素 */
    display: flex;/* centerにずらせるように */
    align-items: center;
    justify-content: center; /* 文字を真ん中に */
    background-color: #F79214;
    border: none; /* 円の線を消す */
    text-decoration: none;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    border-radius: 8vw; /* 角を丸く */
    font-size: 3.5vw;
    font-weight: 500; /* 文字の太さ */
    height: 7vh;
    width: 93%;
    margin-top: 48vh;
    margin-left: 2vw;
}

.Annotation{
    position: absolute; /*bodyの子要素 */
    margin-top: 57vh;
    margin-left: 2vw;
    font-size: 3vw;
    opacity: 0.6; /*透明度 */
}

/* ボディe */

} /* スマホ 800以上 */

/* ---------------------------------------------------------------------------------------------------------------------------------------------------*/

/* スマホ 800以下 */
@media only screen and (max-width: 600px) and (max-height: 800px) { 

.Person{
    display: none !important;
}


.Triangle{
    display: none !important;
}

/* ヘッダーs */
header{
    position: fixed; /*スクロールを固定*/
    background-color:white;
    width: 100%;
    height: 80px;
    z-index: 100;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1) ;
}

.Potepan{ 
    height: 16px;
    padding-top: 35px;
    padding-left: 20px;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
}

/* チェックボックス確認削除 */
.Checkbox {
    display: none;
}
/* ハンバーガーアイコンの設置スペース */
.Hamburger-Line {
    display: flex;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    right: 0;
    margin-top: -13px;
    margin-right: 50px;
}

/* ハンバーガーメニューのアイコン */
.Hamburger-Line  span,
.Hamburger-Line  span:before,
.Hamburger-Line  span:after {
    content: '';
    display: block;
    height: 1px;
    width: 23px;
    background: black; /* 三本線の色 */
    transition: 0.5s;
    position: absolute;
    opacity: 0.8;
}

/* 三本線の一番上の棒の位置調整 */
.Hamburger-Line  span:before {
    bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.Hamburger-Line  span:after {
    top: 8px;
}

/* id クリック */
/* アイコンがクリックされたら真ん中の線を透明にする */
#menu-btn-check:checked ~ .Hamburger-Line  span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#menu-btn-check:checked ~ .Hamburger-Line  span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked ~ .Hamburger-Line  span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* アイコンがクリックされたらメニューを表示 */
#menu-btn-check:checked ~ .List {
    left: 0;/* メニューを画面に入れる */
}

/* メニューのデザイン*/
.List {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99; /* ボタンよりも下に */
    top: 65px;
    left: 100%; /* メニューを画面の外に飛ばす */
    background: rgba(0, 0, 0, 0.8);;
    transition: .5s;
    list-style: none;  /* メニュー黒ポチを消す */
    text-align: center;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    padding: 0;
    letter-spacing: 5px; /* 文字の間に隙間を入れる */
}

.List_Title{ /* li span */
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 16px;
    font-weight: 500; /* 文字の太さ */
    color: white; /* リンク選択後色が変わらないように */
    padding-top: 50px;
    width: 60%; /* 改行のため */
}

.List_Text{ /* li span*/
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-size: 12px;
    color: #F79214; /* リンク選択後色が変わらないように */
    width: 50%;/* 改行のため */
}

.List_Counseling{
    display: flex;/* centerにずらせるように */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F79214;
    border: none;
    border-radius: 50px;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    width: 40%;
    font-size: 16px;
    height: 70px;
    margin: auto; /* 中央に合わせる */
    margin-top: 40px;
}

.Counseling_Link{
    text-decoration:none;
    color: #fff; /* リンク選択後色が変わらないように */
}

/* ヘッダーe */

/* 背景s */

.Person_Phone{
    position: absolute; /*Backgroundの子要素固定 */
    width: 100%;
    margin-top: 60px;
    z-index: -1;/*背景用*/
}

.Background{
    position: relative; /*親要素固定*/
    z-index: -1;/*背景用*/
}

.Rubber_Band{
    position: absolute; /*Triangleの子要素 */
    margin-top: 150px;
    margin-left: -400px;
}

/* 背景e */


/* ボディs */

body{ 
    margin: auto; /*周りの隙間をなくす*/
}

.Circle{
    position: absolute; /*bodyの子要素*/
    width: 20%;
    top: 420px;
    left: 280px;
    bottom: 220px; /* 下の要素との間隔 */
}

h1{
    position: absolute; /*bodyの子要素*/
    font-size: 25px;
    top: 420px;
    left: 20px;
    color: #333;
    font-family: "Lato", sans-serif;
}

.Counseling{
    align-items: center;
    justify-content: center; /* 文字を真ん中に */
    background-color: #F79214;
    border: none; /* 円の線を消す */
    text-decoration: none;
    cursor: pointer; /* ポイントが当たった時カーソルを変える */
    border-radius: 38px; /* 角を丸く */
    font-size: 16px;
    font-weight: 700; /* 文字の太さ */
    height: 64px;
    width: 80%;
    margin-top: 580px;
    margin-left: 20px;
}

.Annotation{
    margin-top: 15px;
    margin-left: 20px;
    opacity: 0.6; /*透明度 */
}

/* ボディe */


} /* スマホ 800以下*/
